<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">Este APP Ainda está em sua Versão Alpha, Não temos Recursos de Gerenciamento de Contas!</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <img id="logo"
        src="https://img.freepik.com/premium-vector/this-adorable-illustration-features-cat-with-gamepad-t-shirt-design_616159-172.jpg?w=2000">
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <h1 id="title">Novidades:</h1>

    <br>

    <ion-card>
      <img alt="Silhouette of mountains" src="https://wallpapers.com/images/featured/minecraft-s2kxfahyg30sob8q.jpg" />
      <ion-card-header>
        <ion-card-title>Minecraft 1.20 Update!</ion-card-title>
      </ion-card-header>

      <ion-card-content class="cardInfo">
        Jogadores podem usar novos materiais, como o cobre, para construir estruturas e itens. Além disso,
        novos blocos, como o bloco de mármore, o bloco de ametista e o bloco de lajes, permitem uma maior personalização
        e detalhamento das construções. </ion-card-content>
    </ion-card>

    <br>

    <ion-card>
      <img alt="Silhouette of mountains" src="https://images.gog-statics.com/d7c2a4bb584995c56588cc4dd832479269e538b21f902341be394ed4b619211d_product_card_v2_mobile_slider_639.jpg" />
      <ion-card-header>
        <ion-card-title>A Hat in Time DLC</ion-card-title>
      </ion-card-header>

      <ion-card-content class="cardInfo">
        Seal the Deal é o desafio final no modo Death Wish do DLC Seal the Deal. É uma corrida de chefe de todos os chefes do modo difícil.</ion-card-content>
    </ion-card>

    <br>

    <ion-card>
      <img alt="Silhouette of mountains" src="https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_1240/b_white/f_auto/q_auto/ncom/software/switch/70010000068688/a13441a9532b1c9e90f657ee1c67255de073707543ff6735ceb57b472faec691" />
      <ion-card-header>
        <ion-card-title>Super Mario Bros. Wonder Lançamento</ion-card-title>
      </ion-card-header>

      <ion-card-content class="cardInfo">
        Super Mario Bros. Wonder é um futuro jogo eletrônico de plataforma desenvolvido e publicado pela Nintendo. É o primeiro jogo de rolagem lateral da série Super Mario desde New Super Mario Bros. U, será lançado para o Nintendo Switch em 20 de outubro de 2023</ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="Silhouette of mountains" src="https://images4.alphacoders.com/614/thumb-1920-614616.jpg" />
      <ion-card-header>
        <ion-card-title>Plants Vs Zombies Garden Warfare 2 PROMOÇÃO!</ion-card-title>
      </ion-card-header>

      <ion-card-content class="cardInfo">
        PvZ GW2, Jogo publicado pela EA e Desenvolvido pela PopCap, está em Promoção, com 90% de Desconto! de R$85,00 Para apenas R$8,00 arredondado!</ion-card-content>
    </ion-card>
