<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">Este APP Ainda está em sua Versão Alpha, Não temos Recursos de Gerenciamento de Contas!</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <img id="logo" src="https://img.freepik.com/premium-vector/this-adorable-illustration-features-cat-with-gamepad-t-shirt-design_616159-172.jpg?w=2000">
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <h1 id="title">WikideoGames</h1>

    <ion-card>
      <img src="https://wallpapercave.com/wp/wp8251545.jpg" />
      <ion-card-header>
        <ion-card-title>Bem-Vindo a WikideoGames!</ion-card-title>
        <ion-card-subtitle>Fique Atento:</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Postaremos Informações rápidas de Jogos, e Avaliações Misturadas em consoles!
      </ion-card-content>
    </ion-card>

    <hr>

    <h1>Quem Somos Nós?</h1>
    <p class="escrita">
      WikideoGames É onde você poderá analisar as avaliações de jogos de Pessoas que estão em diversos Consoles!
      pessoas que jogam tanto pela Steam, Xbox, PS, Switch, Todas as avaliações Misturadas aqui mesmo. Além de postarmos
      novidades e Curiosidades sobre Games.
    </p>

    <h1>Temos Contato com as Empresas?</h1>
    <p class="escrita">
      A WikideoGames Não tem nenhum tipo de contato ou parceria com as Empresas citadas.
    </p>
  </ion-content>
</div>
