<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">Este APP Ainda está em sua Versão Alpha, Não temos Recursos de Gerenciamento de Contas!</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <img id="logo"
        src="https://img.freepik.com/premium-vector/this-adorable-illustration-features-cat-with-gamepad-t-shirt-design_616159-172.jpg?w=2000">
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <h1 id="title">Avaliações:</h1>

    <br>

    <ion-card>
      <img alt="Silhouette of mountains"
        src="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/wiiu_download_software_5/H2x1_WiiUDS_HollowKnight_image1280w.jpg" />
      <ion-card-header>
        <ion-card-title>Hollow Knight: ★ ★ ★ ★ ★</ion-card-title>
        <ion-card-subtitle>From: Nintendo Switch</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="cardInfo">
        Jogo incrível, lore interessante, nps carismáticos, finais muito bons, gameplay difícil porem divertida, mesmo
        depois de zerar ainda tem muito conteúdo, hollow knight mesmo nos dias de hoje não deixa nada a
        desejar.</ion-card-content>
    </ion-card>

    <br>

    <ion-card>
      <img alt="Silhouette of mountains" src="https://images3.alphacoders.com/121/1212533.png" />
      <ion-card-header>
        <ion-card-title>Party Animals: ★ ★ ☆ ☆ ☆</ion-card-title>
        <ion-card-subtitle>From: Xbox</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="cardInfo">
        O jogo é simplesmente muito divertido. Momentos de gargalhadas e claramente momentos de loucura com tudo que
        pode acontecer na partida. O maior problema do game é não ter ainda servidor Latino
        Americano.</ion-card-content>
    </ion-card>

    <br>

    <ion-card>
      <img alt="Silhouette of mountains"
        src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70010000006442/691ba3e0801180a9864cc8a7694b6f98097f9d9799bc7e3dc6db92f086759252" />
      <ion-card-header>
        <ion-card-title>Celeste: ★ ★ ★ ★ ★</ion-card-title>
        <ion-card-subtitle>From: PS4</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="cardInfo">
        Não importa quão difícil seja o desafio o obstáculo a frente, tente, caia, tente de novo e aprenda a superá-lo.
        Deixe suas emoções se manifestarem e não tente lutar contra ela, não a esconda, apenas entenda que faz parte do
        que você é.

        Seja você, seja feliz :)</ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="Silhouette of mountains" src="https://images5.alphacoders.com/114/1143769.jpg" />
      <ion-card-header>
        <ion-card-title>A Hat in Time: ★ ★ ★ ★ ★</ion-card-title>
        <ion-card-subtitle>From: PC</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="cardInfo">
        Cara a ideia dos planetas, as distorção temporais, tudo remete a mario galaxy com as cometa brincalhão e os
        planetas unicos de cada fase, q coisa maravilhosa</ion-card-content>
    </ion-card>
